.Outputs {
    color: white;
    font-size: 1.5vw;
    padding: 0.7vw;
    border-radius: 10px;
    margin: 0.2vw;
    background-color: rgb(22, 17, 58);
}

.Outputs:Hover {
    background-color: rgb(52, 54, 87);
}

#Title {
    font-size: 5vw;
    font-weight: bold;
    color:white;
    background-color: rgb(22, 17, 58);
    border-radius: 10px;
    margin-left: -40%;
    margin-right: -40%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid white;
    box-sizing: content-box;
    height: 75%;
    margin-top: 5%;
}

#OutputDiv {
    background-color: rgb(39, 41, 83);
    border-radius: 10px;
    top: 0px;
    height: 50vw;
    width: 90%;
    margin-left: 5%;
}

#TitleDiv {
    background-color: rgb(39, 41, 83);
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid rgb(39, 41, 83);
    box-sizing: content-box;
    height: 10vw;
    margin-top: 5%;
}

#HomepageDiv {
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgb(22, 17, 58);
}