.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  text-decoration: none;
  color: #3a3a3a;
  max-width: 100%;
  height: auto;
  top: 0px;
  opacity: 1;
  font-family: "Roboto Mono", monospace;
  display:inline-block;
  display: flex;
  align-items: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-bottom: 1px solid white;
  background-color: rgb(31, 31, 31);
  padding-top: 0.6vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  height: 2.5vw;
}

.nav :hover {
  background-color: white;
}

a:link {
  text-decoration: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

a:visited {
  text-decoration: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  text-decoration: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  color: grey
}

.NavLinks {
  color: white;
}