#InfoPageDiv {
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgb(22, 17, 58);
    color: white;
}

#InfoOutputsDiv {
    border-radius: 10px;
    top: 0px;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    background-color: rgb(39, 41, 83);
}