#polH1 {
    font-size: 5vw;
}

#polH2 {
    font-size: 3vw;
}

#polH3 {
    font-size: 2vw;
}

.UpdateText {
    font-size: 2vw;
}

#FrontpageDiv {
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgb(22, 17, 58);
    color: white;
}

#FrontpageText {
    border-radius: 10px;
    top: 0px;
    height: 50vw;
    width: 90vw;
    margin-left: 5%;
    margin-top: 2vw;
    background-color: rgb(39, 41, 83);
}

.DocumentationLink {
    color: white;
}

.DocumentationLink:hover {
    color: blue;
}